{% extends 'blog/base.html' %}

{% block title %} Create Post {% endblock %}

{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <!--        Display non-field errors-->
        {% if form.non_field_errors %}
        <div>
            <p>{{ form.non_field_errors}}</p>
        </div>
        {% endif %}
        <!--        render form fields-->
        {{ form.as_p }}

        <button type="submit">
            {% if form.instance.pk %} Update Post {% else %} Create Post {% endif %}
        </button>
    </form>
</div>
{% endblock %}