{% extends 'blog/base.html'%}

{% block title %} Post Detail {% endblock %}

{% block content %}
<div>
    <h3>{{ object.title }}</h3>

    <p>{{ object.content }}</p>

    <div>
        By <span>{{object.author.username }}</span> - {{ object.published_date|date:"M d, Y"}}
    </div>

    {% if user.is_authenticated and user == object.author %}
    <div>
        <a href="{% url 'post_update' object.pk %}">Edit</a>
        <a href="{% url 'post_delete' object.id %}">Delete</a>
    </div>
    {% endif %}
</div>

<div>
    <h2>Comments</h2>
    <!--    list comments-->
    {% for comment in post.comments.all %}
    <p>{{comment.content}}</p>
    <div>
        By {{comment.author.username}} - {{comment.created_at|date:"M d, Y"}}
    </div>
    {% if user == comment.author %}
    <a href="{% url 'comment_update' comment.pk %}">Edit</a>
    <a href="{% url 'comment_delete' comment.pk %}">Delete</a>
    {% endif %}
    {% empty %}
    <p>No Comments Yet</p>
    {% endfor %}

    <!--   link to comment form for logged in users-->
    {% if user.is_authenticated %}
    <div>
        <a href="{% url 'comment_create' post_id=object.id %}">+Add Comment</a>
    </div>
    {% else %}
    <p>
        <a href="{% url 'login' %}">Log in</a> to Comment
    </p>
    {% endif %}
</div>
{% endblock %}