{% extends 'blog/base.html'%}

{% block title %} Post Detail {% endblock %}

{% block content %}
<div>
    <h3>{{ object.title }}</h3>

    <p>{{ object.content }}</p>

    <div>
        By <span>{{object.author.username }}</span> - {{ object.published_date|date:"M d, Y"}}
    </div>

    {% if user.is_authenticated and user == object.author %}
    <div>
        <a href="{% url 'post_update' object.pk %}">Edit</a>
        <a href="{% url 'post_delete' object.id %}">Delete</a>
    </div>
    {% endif %}
</div>
{% endblock %}